
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('5117.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: rgba(128, 0, 128, 0.8); /* Semi-transparent purple */
    padding: 20px;
    height: 100vh; /* Full height of the page */
    color: white;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    padding: 20px;
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.category {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.category:hover {
    transform: scale(1.05);
}

.category img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.category h2 {
    margin-top: 15px;
    font-size: 1.5em;
}


.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    height: 100vh; /* Full height of the page */
    color: white;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.category {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.category:hover {
    transform: scale(1.05);
}

.category img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.category h2 {
    margin-top: 15px;
    font-size: 1.5em;
}
